body {
	background-color: #000;
}

canvas {
	border: 2px solid white;
	margin: 10px 0 0 10px;
}

select {
	height: 30px;
	top: 4%;
}

#genre {
	width: 100px;
	position: absolute;
	right: 800px;
}

#roms {
	width: 300px;
	position: absolute;
	right: 490px;
}

#description {
	position: absolute;
	top: 520px;
	margin-left: 20px;
	color: white;
	font-size: 26px;
	width: 1500px;
}